<h3><%= @menu.name %> Menu (<%= @menu.active %>)</h3>
<h6>Menu Items</h6>
<% @menu.menu_items.each do |item| %>
  <p><%= item.name %></p>
  <p><%= item.description %></p>
  <p><%= item.category %></p>
  <p><%= item.price %></p>
<% end %>
