<h3><%= @menu.name %> Menu (<%= @menu.active %>)</h3>
<h6>Menu Items</h6>
<% @menu.menu_items.each do |m| %>
  <p><%= m.item.name %></p>
  <p><%= m.item.description %></p>
  <p><%= m.item.category %></p>
  <p><%= m.item.price %></p>
<% end %>
