<div class="staff-menu-item-card <%= "inactive" unless item.active %> shadow" id="staff-menu-item-card-<%= item.id %>">
  <%= cl_image_tag item.photo.key, crop: :fill, class: 'menu-item-image' %>
  <div class="menu-item-active-button">
    <% if item.active %>
      <%= link_to  active_menu_item_path(item), method: :patch, remote: true do %>
        <i class='fas fa-toggle-on'></i>
      <% end %>
    <% else %>
      <%= link_to  active_menu_item_path(item), method: :patch, remote: true do %>
        <i class='fas fa-toggle-off'></i>
      <% end %>
    <% end %>
  </div>
  <div class="menu-item-info row">
    <div class="menu-item-info-details col-8">
      <p><b><%= item.name %></b></p>
      <p><%= item.description %></p>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="d-flex align-items-center justify-content-end col">
          <p><%= item.category %></p>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center justify-content-end col">
          <p>¥<%= item.price %></p>
        </div>
      </div>
    </div>
  </div>
</div>
