<h3>menu items</h3>
<div class="row">
  <% @menu_items.each do |item| %>
    <div class="col-3 py-2">
      <p><b><%= item.name %></b></p>
      <p><%= item.description %></p>
      <p><%= item.category %></p>
      <p>¥<%= item.price %></p>
      <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  <% end %>
</div>
