<div class="my-navbar">
  <% if user_signed_in? %>
    <div class="user-profile">
      <div class="user-image">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large"%>
      </div>
      <div class="user-details">
        <h4>Hello, <%= current_user.email %></h4>
      </div>
    </div>
    <div class="my-nav-item">
      <%= link_to destroy_user_session_path, method: :delete, class: 'my-nav-link' do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    </div>

    <div class="app-nav text-center">
      <%= link_to new_order_path, class: 'new-customer shadow offset-2 col-8' do %>
        <i class="fas fa-user-friends"></i>
      <% end %>
      <%= link_to orders_path, class: 'orders mt-3 shadow offset-2 col-8'  do %>
        <i class="fas fa-concierge-bell"></i>
      <% end %>
      <%= link_to menus_path, class: 'menus mt-3 shadow offset-2 col-8' do %>
        <i class="fas fa-clipboard-list"></i>
      <% end %>
      <%= link_to menu_items_path, class: 'menu-items mt-3 shadow offset-2 col-8' do %>
          <i class="fas fa-hamburger"></i>
      <% end %>
    </div>

  <% else %>
    <div class="my-nav-item">
      <%= link_to "Login", new_user_session_path, class: "my-nav-link" %>
    </div>
  <% end %>
</div>
