<h1>Orders</h1>

<div class="d-flex">
  <% @orders.each do |order| %>
    <div class="px-3">
      <p><%= order.table %></p>
      <p><%= order.total_price %></p>
      <p>Items</p>
      <% order.menu_items.each do |item| %>
        <p><%= item.name %></p>
        <p><%= item.price %></p>
      <% end %>
      <%= link_to order_path(order), remote: true, method: :patch do %>
        <div class="btn btn-primary">
          <p>paid</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
